{% load static %}
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8" />
	<title>About - Cake Website Template</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="{% static 'css/ie8.css' %}" />
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="{% static 'css/ie7.css' %}" />
	<![endif]-->
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="{% static 'css/ie6.css' %}" />
	<![endif]-->

</head>
<body>
	<div id="header">
		<div>
			<div>
				<div id="logo">
					<a href="/"><img src="{% static 'images/logo.gif' %}" alt="Logo"/></a>
				</div>
				<div>
					<div>
						<a href="signup.html">My Account</a>
						<a href="/">Help</a>
						<a href="signin.html" class="last">Sign in</a>
					</div>
					<form action="#">
						<input type="text" id="search" maxlength="30" />
						<input type="submit" value="" id="searchbtn" />
					</form>
				</div>
			</div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/shop/product">The Pastry shop</a></li>
				<li class="current"><a href="/shop/about">About us</a></li>
				<li><a href="/shop/services">Services</a></li>
				<li><a href="/shop/blog">Blog</a></li>
				<li><a href="/shop/contact">Contact Us</a></li>
			</ul>
			<div class="section">
				<a href="/"><img src="{% static 'images/wedding-cupcakes-small.jpg' %}" alt="Image"/></a>
			</div>
		</div>
	</div>
	<div id="content">
		<div id="about">
			<div class="aside">
				<h1>About Cake Delights</h1>
				
				<p>We are exactly what you are looking for. Yes, we are an FSSAI certified online cake and Bakery Company that specializes in delivering absolutely lip-smacking delicacies. Currently, we are delivering cakes in Gurgaon, Delhi, Noida, Ghaziabad, Bangalore and Hyderabad.</p> 
				
				<p>We are not just a bakery, we are not just bakers. In fact, we are just like you, a bunch of food lovers fascinated with sweet indulgence, who dreamt of creating an appetizing fairy land of divine delicacies that relishes the utmost desires.</p>
				<span>OUR MISSION</span>
				<p>Our mission is to “deliver these heavenly cakes at your doorstep on time to make your celebrations even grander”. Because for us, it is not just a Cake but more and so we craft it with a blend of inspiration, passion, and love. We guarantee an extraordinary taste in your choicest flavors with ravishing designs. Sounds perfect, isn’t it?

                So, be prepared to experience something devilishly delicious, something that will take even the hardest to please Cake Lovers on a delectable ride into the World of Sweet Indulgence where we celebrate Happiness! Watch Out Us! We Are Here to Redefine Sweetness our matchless services of delivering cakes online.</p>
				
			</div>
			<div class="section">
				<div id="visitshop">
					<div>
						<p><span>Sweets from the heart</span> Treat your loveones</p>
						 <a href="" class="visit">visit the shop</a>
					</div>
				</div>
				<div>
					<h3>WHY CHOOSE US</h3>
					<p>Now, having a birthday cake, anniversary cake or wedding cake is completely a hassle-free task with CAKE DELIGHTS. Earlier, you would have to go from one shop to another in search for a delectable cake to heighten the happiness of your special occasions. But now, with CAKE DELIGHTS online cake delivery, you can browse through a variety of best quality cakes and pick your favorite cake just sitting at your home. After you have selected your favorite cake from our varieties, order the cake online in a few clicks and relax because CAKE DELIGHTS ensure same day cake delivery.  we understand your love and emotions towards your close ones. So, go ahead to celebrate your special occasions with finger-licking cakes from us. Our online cake delivery service promise to deliver on the same daY</p>
				</div>
				
				<div>
					<a href="/" class="callus">CALL US <span>1-800-4216243</span></a>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="section">
			<div>
				<div class="aside">
					<div>
						<div>
							<b>Too <span>BUSY</span> to shop?</b>
							<a href="signin.html">Sign up for free</a>
							<p>and we&#39;ll deliver it on your doorstep</p>
						</div>
					</div>
				</div>
				<div class="connect">
					<span>Follow Us</span>
					<ul>
						<li><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook">Facebook</a></li>
						<li><a href="http://twitter.com/fwtemplates" target="_blank" class="twitter">Twitter</a></li>
						<li><a href="#" class="subscribe">Subscribe</a></li>
						<li><a href="http://www.flickr.com/freewebsitetemplates/" target="_blank" class="flicker">Flicker</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="featured">
			<ul>
				<li class="first">
					<a href="/"><img src="{% static 'images/fruit-cake.jpg' %}" alt="Image" /></a>
					<h2><a href="/">Tips on how to preserve</a></h2>
					<p>Place fresh pastries inside a paper bag to help retain the quality of the crust. Keep the pastries at room temperature to prevent condensation so that they don't soften.Seal the paper bag inside a plastic storage bag for extended storage. <a href="/" class="readmore">read more</a></p>
				</li>
				<li>
					<a href="/"><img src="{% static 'images/italian.jpg' %}" alt="Image" /></a>
					<h2><a href="/">Menu of the day: Turkish</a></h2>
					<p>You can find a great variety of mouth watering dishes in Turkish cuisine, which is mostly the heritage of Ottoman cuisine. It is the mixture and refinement of Central Asian, Middle Eastern and Balkan cuisines. <a href="/" class="readmore">read more</a></p>
				</li>
				<li>
					<a href="/"><img src="{% static 'images/fruit.jpg' %}" alt="Image" /></a>
					<h2><a href="/">Fruit menu for your diet</a></h2>
					<p>Eating fruit provides health benefits — people who eat more fruits are likely to have a reduced risk of some chronic diseases. Fruits provide nutrients vital for health and maintenance of your body. <a href="/" class="readmore">read more</a></p>
				</li>
				<li>
					<a href="/"><img src="{% static 'images/desserts.jpg' %}" alt="Image" /></a>
					<h2><a href="/">Desserts for every occassion</a></h2>
					<p>We are always happy to associate with individual by providing special offers on each special occasion. Keep watching this space for special occasions and allow us to serve you better and making it really special.. <a href="/" class="readmore">read more</a></p>
				</li>
			</ul>
		</div>
		<div id="navigation">
			<div>
				<ul>
					<li class="first"><a href="/">help</a></li>
					<li><a href="/">about cake delight</a></li>
					<li><a href="/">cake delight talk</a></li>
					<li><a href="/">developers</a></li>
					<li><a href="/">privacy policy</a></li>
					<li><a href="/">terms of use(updated 10/15/08)</a></li>
				</ul>
				<p>Copyright &copy; 2006-2008 cake delight  All rights reserved</p>
			</div>
		</div>
	</div>
</body>
</html>